body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: gray;
}
h1 {
  font-size: 3em;
}
.color-text {
  color: rgba(210, 108, 20, 0.714);
}
.header-box {
  margin-top: 100px;
  margin-bottom: 100px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 7%;
}
.half-width img {
  width: 100%;
}
.anchor-btn {
  text-decoration: none;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  box-shadow: 10px 10px 30px #ee0979;
  padding: 1em;
  border-radius: 5px;
  color: blanchedalmond;
}
